@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  overflow-x: hidden;
  background: #4437A0;
}

@font-face {
  font-family: JollyLodger-Regular;
  src: local("JollyLodger-Regular "),
    url("/fonts/Jolly_Lodger/JollyLodger-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Space-Comics;
  src: local("Space-Comics"),
    url("/fonts/Space-Comics/Space-Comics.ttf") format("truetype");
}
@font-face {
  font-family: MordernAntiqua-Regular;
  src: local("MordernAntiqua-Regular"),
    url("/fonts/MordernAntiqua/MordernAntiqua-Regular.ttf") format("truetype");
}

@font-face {
  font-family: ComicNeue-Light;
  src: local("ComicNeue-Light"),
    url("/fonts/ComicNeue/ComicNeue-Light.ttf") format("truetype");
}
@font-face {
  font-family: ComicNeue-LightItalic;
  src: local("ComicNeue-LightItalic"),
    url("/fonts/ComicNeue/ComicNeue-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: ComicNeue-Regular;
  src: local("ComicNeue-Regular"),
    url("/fonts/ComicNeue/ComicNeue-Regular.ttf") format("truetype");
}
@font-face {
  font-family: ComicNeue-RegularItalic;
  src: local("ComicNeue-RegularItalic"),
    url("/fonts/ComicNeue/ComicNeue-Italic.ttf") format("truetype");
}
@font-face {
  font-family: ComicNeue-Bold;
  src: local("ComicNeue-Bold"),
    url("/fonts/ComicNeue/ComicNeue-Bold.ttf") format("truetype");
}
@font-face {
  font-family: ComicNeue-BoldItalic;
  src: local("ComicNeue-BoldItalic"),
    url("/fonts/ComicNeue/ComicNeue-Bold.ttf") format("truetype");
}



html::-webkit-scrollbar {
  width: 0.3rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 1rem;
}


.shimmer {
		text-align: center;
		color: rgba(255, 255, 255, 0.1);
		background: -webkit-gradient(linear, left top, right top, from(#079307), to(#079307), color-stop(0.5, #fff));
		background: -moz-gradient(linear, left top, right top, from(#079307), to(#079307), color-stop(0.5, #fff));
		background: gradient(linear, left top, right top, from(#079307), to(#079307), color-stop(0.5, #fff));
		-webkit-background-size: 125px 100%;
		-moz-background-size: 125px 100%;
		background-size: 125px 100%;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
		-webkit-animation-name: shimmer;
		-moz-animation-name: shimmer;
		animation-name: shimmer;
		-webkit-animation-duration: 3s;
		-moz-animation-duration: 3s;
		animation-duration: 3s;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-color: #079307;
    /* transition-delay: 300ms; */
}

@-moz-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right 110% ;
		}
}

@-webkit-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@-o-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right -10%;
		}
}

@keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right -50%;
		}
}